---
import { Image } from 'astro:assets';

interface Props {
	title: string;
	subtitle: string;
	body: string;
	href: string;
	// img: ImageMetadata;
	imgHref: string;
}

const { href, imgHref, title, subtitle, body } = Astro.props;
---

<div class="link-card flex justify-center shadow-md hover:shadow-lg bg-slate-100 border pt-4 pb-2 px-4 transition duration-150">
	<a href={href}>
		<h2 class="font-bold text-2xl text-center">
			{title}
		</h2>
		<div class="border border-primary w-full my-2" />
		<p class="font-bold text-lg text-center">
			{subtitle}
		</p>
		{body && <p class="text-center">
			{body}
		</p>}

			<!-- <Image src={img} alt={title} /> -->
			 <img class="my-4 mx-auto" src={imgHref} alt={title} >

	</a>
</div>